.dropdown-toggle::after {
    display: none !important;
}

.avatar-small {
    width: 32px;
    height: 32px;
}

.avatar {
    width: 260px;
    height: 260px;
}

.btnToOpenInputFile {
    top: 250px;
    left: 50px;
}